{% extends 'base.html.twig' %}

 {% block body %}
     <div class="row">
         <div class="col-md-12 text-center">
             <h1>Witaj na stronie Marbud!</h1>
             Na tej stronie zaprezentowane są prace remontowo-budowlane firmy marbud oraz cennik.
         </div>
    </div> 
     <hr>
    <a href="{{ url('galeria') }}"class="deco"><div class = "col-md-6 text-center pad">
        <h2>Remont łazienki</h1>
        Oferujemy różnego rodzauj remonty wykończeniowe. Zdjęcia naszych prac znajdują się w Galerii. 
        <br/>
        <span class="red">Kliknij!</span>
    </div></a>
    <a href="{{ url('galeria') }}"class="deco"><div class = "col-md-6 text-center pad">
        <h2>Remont kuchni</h1>
        Oferujemy różnego rodzauj remonty wykończeniowe. Zdjęcia naszych prac znajdują się w Galerii.
        <br/>
        <span class="red">Kliknij!</span>
    </div></a>
    <a href="{{ url('galeria') }}"class="deco"><div class = "col-md-6 text-center pad">
        <h2>Remont podłogi</h1>
        Oferujemy różnego rodzauj remonty wykończeniowe. Zdjęcia naszych prac znajdują się w Galerii.
        <br/>
        <span class="red">Kliknij!</span>
    </div></a>
    <a href="{{ url('galeria') }}"class="deco"><div class = "col-md-6 text-center pad">
        <h2>Malowanie</h1>
        Oferujemy różnego rodzauj remonty wykończeniowe. Zdjęcia naszych prac znajdują się w Galerii.
        <br/>
        <span class="red">Kliknij!</span>
    </div></a>
    <a href="{{ url('galeria') }}"class="deco"><div class = "col-md-6 text-center pad">
        <h2>Instalacja elektryczna</h1>
        Oferujemy różnego rodzauj remonty wykończeniowe. Zdjęcia naszych prac znajdują się w Galerii.
        <br/>
        <span class="red">Kliknij!</span>
    </div></a>
    <a href="{{ url('galeria') }}" class="deco"><div class = "col-md-6 text-center pad">
        <h2>Hydraulika</h1>
        Oferujemy różnego rodzauj remonty wykończeniowe. Zdjęcia naszych prac znajdują się w Galerii.
        <br/>
        <span class="red">Kliknij!</span>
    </div></a>
 {% endblock %}
